@charset "utf-8";
/* CSS Document */

.qa_add_question{}


.submit-question{}
.submit-question .errors{
  margin-bottom: 30px;
}
.submit-question .errors .error {
  color: #f0611a;
  padding: 3px 1px;
}

.submit-question .errors .success {
  color: #54c671;
  font-size: 12px;
  padding: 3px 1px;
}









.submit-question .qa-suggestions{}

.submit-question  .qa-suggestions .suggestion-title {
  font-weight: bold;
  display: none;
}

.submit-question .qa-suggestions .loading {
  display: none;
}

.submit-question .qa-suggestions li{}
.submit-question .qa-suggestions li a {
  display: block;
  font-size: 13px;
  margin: 3px 0;
  text-decoration: none;
}




.submit-question .qa-form-field-wrap{}

.submit-question .qa-form-field-wrap input[type="text"], .submit-question .qa-form-field-wrap input[type="email"],.submit-question .qa-form-field-wrap textarea, .submit-question .qa-form-field-wrap select{
  width: 90%;
}

.submit-question .qa-form-field-wrap select, .submit-question .qa-form-field-wrap .wp-editor-wrap, .submit-question .qa-form-field-wrap input[type="submit"]{
  width: 93%;
}

.submit-question .qa-form-field-wrap .field-title{
  width: 250px;
  float: left;
}

.submit-question .qa-form-field-wrap .field-input{
  margin-left: 250px;
}
.submit-question .qa-form-field-wrap .field-details{
  font-style: italic;
  font-size: 13px;
  margin-top: 10px;
}


.qa-q-submitted{
  background: #5f6caf none repeat scroll 0 0;
  padding: 10px;
  margin-bottom: 30px;
  color: #fff;
  border-left: 4px solid #293c9e;
}

.qa-q-submitted a{
  color: #fff;
}


.poll-field-wrap{}


.poll-field-wrap .add-poll{
  margin-bottom: 10px;
}
.poll-field-wrap .poll-items{}
.poll-field-wrap .poll-items .item{
  margin-bottom: 10px;
}
.poll-field-wrap .poll-items input[type="text"]{
  width: 80% !important;
}

.poll-field-wrap .poll-items .sort-hndle{
  cursor: move;
  width: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: super;
}

.poll-field-wrap .poll-items .remove{}





@media only screen and (max-width: 992px ) {
  .submit-question .qa-form-field-wrap .field-title{
    width: 100%;
    float: none;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .submit-question .qa-form-field-wrap .field-input {
    margin-left: 0px;
  }

}








