@charset "utf-8";
/* CSS Document */


@import url("single-question.css");
@import url("question-archive.css");
@import url("add-question.css");
@import url("myaccount-profile.css");
@import url("myaccount-question-list.css");
@import url("breadcrumb.css");
@import url("style-responsive.css");
@import url("widgets.css");


.content a { text-decoration:none; }


/* Single Question */


.qa_is_solved {
    position: absolute;
    margin-left: -35px;
}

span.qa-meta-item {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-right: 10px;
  padding: 5px;
  text-decoration: none;
}

span.qa-meta-item i {
}


/*paginate*/
.questions-archive .paginate, .container-answer-section .paginate {
  margin: 30px 0;
  text-align: center;
}
.questions-archive .paginate .page-numbers, .container-answer-section .paginate .page-numbers {
  background: #f2f2f2 none repeat scroll 0 0;
  margin: 0 2px;
  padding: 9px 15px;
  text-decoration: none;
}

.questions-archive .paginate .current, .container-answer-section .paginate .current {
  background: #ddd none repeat scroll 0 0;
}
.questions-archive .paginate .pre,
.container-answer-section .paginate .prev{

}

.questions-archive .paginate .next,
.container-answer-section .paginate .next{
}



.qa_front_notice {
    background-color: #eee;
    padding: 10px;
    border-radius: 4px;
}

.qa_success { 
	border-left: 3px solid #16A05C;
}

.qa_error {
    border-left: 3px solid #DD4F43;
}



.qa-user-role-editor { background-color : #1488C4; }
.qa-user-role-admin { background-color : #826ECC; }
.qa-user-role-administrator { background-color : #3879D9; }



.qa-deprecated {
    margin-bottom: 20px;
    background: #ff7474;
    padding: 4px 10px;
    color: #fff;
}

.qa-deprecated code {
    background: rgb(174, 76, 76);
    padding: 2px 6px;
}
















